/* ================= VARIABLES ================= */

:root {
  /* Base colors */
  --bg-main: #f4f4f4;
  --text-main: #111;
  --header-bg: linear-gradient(180deg, royalblue, dodgerblue, var(--bg-main));
  --caption-bg: #e8e8e8;
  --btn-ok: linear-gradient(180deg, deepskyblue, royalblue);
  --btn-reset: linear-gradient(180deg, tomato, indianred);

  /* Gold theme */
  --general-field-bg: linear-gradient(135deg,
      rgba(255, 222, 92, 0.15),
      rgba(255, 191, 0, 0.3));
  --general-field-border: rgba(255, 191, 0, 0.5);
  --general-input-border: rgba(255, 191, 0, 0.7);
  --general-input-border_focus: rgba(255, 191, 0, 0.8);
  --general-input-shadow_focus: 0 0 4px 4px rgba(255, 191, 0, 0.25);
  --general-details-bg: rgba(255, 191, 0, 0.2);

  /* Green theme */
  --accruals-field-bg: linear-gradient(135deg,
      rgba(20, 200, 20, 0.05),
      rgba(20, 200, 20, 0.15));
  --accruals-field-border: rgba(20, 200, 20, 0.3);
  --accruals-inputs-group-border: rgba(20, 200, 20, 0.25);
  --accruals-input-border: rgba(20, 200, 20, 0.4);
  --accruals-input-border_focus: rgba(20, 200, 20, 0.6);
  --accruals-input-shadow_focus: 0 0 4px 4px rgba(20, 200, 20, 0.15);
  --accruals-details-bg: rgba(20, 200, 20, 0.15);

  /* Blue theme */
  --timesheet-bg: linear-gradient(135deg,
      rgba(20, 20, 255, 0.05),
      rgba(20, 20, 255, 0.15));
  --timesheet-field-border: rgba(20, 20, 255, 0.3);
  --timesheet-inputs-group-border: rgba(20, 20, 255, 0.2);
  --timesheet-input-border: rgba(20, 20, 255, 0.4);
  --timesheet-input-border_focus: rgba(20, 20, 255, 0.6);
  --timesheet-input-shadow_focus: 0 0 4px 4px rgba(20, 20, 255, 0.15);
  --timesheet-details-bg: rgba(20, 20, 255, 0.15);

  /* Red theme */
  --deductions-bg: linear-gradient(135deg,
      rgba(255, 40, 0, 0.05),
      rgba(255, 40, 0, 0.15));
  --deductions-field-border: rgba(255, 40, 0, 0.3);
  --deductions-inputs-group-border: rgba(255, 40, 0, 0.2);
  --deductions-input-border: rgba(255, 40, 0, 0.4);
  --deductions-input-border_focus: rgba(255, 40, 0, 0.6);
  --deductions-input-shadow_focus: 0 0 4px 4px rgba(255, 40, 0, 0.15);
  --deductions-details-bg: rgba(255, 40, 0, 0.15);

  /* Effects */
  --main-bradius: 1em;
  --legend-bradius: 100em;
  --main-border-color: #ddd;
  --main-shadow: 0 4px 0.5em rgba(0, 0, 0, 0.1);
  --main-shadow_hover: 0 4px 1em rgba(0, 0, 0, 0.3);
}

/* ================= BASE ================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 300ms;
  /* transition-timing-function: linear; */

  font-optical-sizing: auto;
  font-variation-settings: 'GRAD' 0;
}

html {
  font-family: 'Google Sans', sans-serif;
  /* Старий спосіб: завжди показувати скролбар */
  overflow-y: scroll;

  /* Новий спосіб: резервувати місце під скролбар */
  overflow-y: auto;
  scrollbar-gutter: stable;
}

body {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  min-width: 358px;
  margin: 0;
  padding: 0;
  user-select: none;
  background: var(--bg-main);
  color: var(--text-main);
}

body.not-overflow {
  overflow: visible;
}

p {
  font-size: 1em;
}

input::placeholder {
  color: #aaa;
}

/* ================= HEADER ================= */

.header-container {
  background: var(--header-bg);
}

.header {
  max-width: 1536px;
  margin: 0 auto;
  /* padding-block: 1em 0; */
  padding-inline: 3em;
  /* padding: 3em 0.75em 3em; */
}

.logo-header {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 5vh 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-header h1 {
  margin: 0;
  margin-left: 0.25em;
  font-size: 1.75em;
  /*font-size: 2em;*/
  line-height: 1;
}

.results-top-panel .logo-header {
  color: var(--text-main);
  padding: 0;
  text-shadow: none;
}

.results-top-panel h2 {
  margin: 0;
  line-height: 1;
  font-size: 2em;
}

.logo-header .logo {
  display: none;
  position: relative;
  top: -2px;
  height: 2.5em;
  width: auto;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.30));
}

.emoji-icon {
  font-size: 2em;
  line-height: 1;
}

/* ================= MAIN ================= */

.main {
  min-height: 100vh;
  opacity: 1;
  overflow: hidden;
}

.main.hidden {
  /* max-height: 100vh; */
  opacity: 0;
}

.main.mxh_100vh {
  max-height: 100vh;
}

.form,
.results {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  padding-block: 0;
  padding-inline: 3em;
}

.results {
  padding-block: 2em;
}

.flex-container {
  display: flex;
  gap: 2rem;
}

.flex-block {
  width: 33.33%;
}

.main .flex-block:not(:first-child) {
  display: flex;
}

.caption-text {
  padding: 1em;
  background: var(--caption-bg);
  border: 0.25em solid #fff;
  border-radius: var(--main-bradius);
  box-shadow: var(--main-shadow);
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* ================= FORM ================= */
.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 0.25em;
  margin-top: 0.25em; */
  padding: 0.25em 1rem;
}

label {
  text-align: left;
  line-height: 1;
}

label:hover {
  font-variation-settings: 'GRAD' 200;
  cursor: pointer;
}

/* ================= INPUTS ================= */
input[type='text'] {
  background-color: var(--bg-main);
  background-color: #fff;
  width: 5.5em;
  margin-left: 0.5em;
  text-align: center;
  line-height: 1.75;
  font-family: 'Rubik', sans-serif;
  border: 1px solid var(--accruals-input-border);
  border-radius: 6px;
  transition: width 0ms;
}

input[type='text'].short {
  width: 4.25em;
}

.input-wrapper:has(input[type='text'][disabled]) {
  opacity: 0.5;
}

input[type='checkbox'] {
  margin: 0.5em 1em;
}

input.large {
  width: 5.5em;
}

input[type='checkbox'] {
  margin-left: 1em;
}

.double-inputs input[type='text']:last-of-type {
  margin-left: 0.25em;
}

.double-inputs span:first-of-type {
  margin: 0;
  margin-left: 0.25em;
}

/* ================= FIELDSETS ================= */
fieldset {
  /*position: relative;*/
  margin: 1.5em 0 0 0;
  padding: 1em 0;
  padding-bottom: 0.75em;
  border: 1px solid var(--main-border-color);
  border-radius: var(--main-bradius);
  background-color: #fff;
  background-image: var(--accruals-field-bg);
  box-shadow: var(--main-shadow);
}

.info-content {
  margin: 1.25em 0;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: var(--main-bradius);
  background: #fff;
  box-shadow: var(--main-shadow);
}

.info-content h2 {
  line-height: 1;
  margin: 0.75em 0;
}

.info-content p {
  line-height: 1.5;
  margin: 0;
  padding: 0.25em 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.15);
}

.info-content p:last-child {
  border: none;
}

#salary-resume .info-content {
  background: var(--general-field-bg);
}

legend {
  margin-left: 1rem;
  padding: 12px 1.25em;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--bg-main);
  background: white;
  border: 1px solid var(--main-border-color);
  border-radius: var(--legend-bradius);
  box-shadow: var(--main-shadow);
}

.general-field {
  border-color: var(--main-border-color);
  background-image: var(--general-field-bg);
}

.general-field legend {
  border-color: var(--main-border-color);
}

.general-field input[type='text'] {
  border-color: var(--general-input-border);
}

.general-field .inp-details {
  border-left-color: var(--general-field-border);
}

.general-field .input-container:focus-within {
  background: var(--general-details-bg);
}

.inputs-group:not(:last-child) {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--accruals-inputs-group-border);
}

/* ================= TAB FIELD (BLUE) ================= */
.timesheet-field {
  border-color: var(--main-border-color);
  background-image: var(--timesheet-bg);
}

.timesheet-field legend {
  border-color: var(--main-border-color);
}

.timesheet-field input[type='text'] {
  border-color: var(--timesheet-input-border);
}

.timesheet-field .inp-details {
  border-left-color: var(--timesheet-details-bg);
}

.timesheet-field .input-container:focus-within {
  background: var(--timesheet-details-bg);
}

.timesheet-field .inputs-group {
  border-color: var(--timesheet-inputs-group-border);
}

/* ================= RED FIELD ================= */
.deductions-field {
  border-color: var(--main-border-color);
  background-image: var(--deductions-bg);
}

.deductions-field legend {
  border-color: var(--main-border-color);
}

.deductions-field input[type='text'] {
  border-color: var(--deductions-input-border);
}

.deductions-field .inp-details {
  border-left-color: var(--deductions-field-border);
}

.deductions-field .input-container:focus-within {
  background: var(--deductions-details-bg);
}

.deductions-field .inputs-group {
  border-color: var(--deductions-inputs-group-border);
}

/* ================= ADVANCED ================= */
.input-wrapper:focus-within label {
  font-variation-settings: 'GRAD' 200;
}

input[type='text']:focus-visible {
  outline: none;
  background-color: #fff;
  border-color: var(--accruals-input-border_focus);
  box-shadow: var(--accruals-input-shadow_focus);
}

.general-field input[type='text']:focus-visible {
  border-color: var(--general-input-border_focus);
  box-shadow: var(--general-input-shadow_focus);
}

.timesheet-field input[type='text']:focus-visible {
  border-color: var(--timesheet-input-border_focus);
  box-shadow: var(--timesheet-input-shadow_focus);
}

.deductions-field input[type='text']:focus-visible {
  border-color: var(--deductions-input-border_focus);
  box-shadow: var(--deductions-input-shadow_focus);
}


.form-footer {
  display: flex;
  justify-content: space-between;
  margin: 2.5em 0 1em;
  gap: 2em;
}

.footer-details {
  border: 4px solid #fff;
  /* display: flex; */
  min-width: 80%;
  background: #fff;
  /* background: var(--timesheet-bg); */
  padding: 1em;
  box-shadow: var(--main-shadow);
  border-radius: var(--main-bradius);
  /* transition: all 300ms; */
}

.footer-details.hidden-content {
  color: transparent
}

.footer-details.hidden-content hr {
  border-top-color: transparent;
}

.footer-details_inner {
  display: flex;
}

.footer-details_content {
  width: 100%;
}

.footer-details h3 {
  min-width: max-content;
  margin-top: 0;
  margin-right: 1.25em;
}

.footer-details hr {
  margin: 10px 0;
  /* transition: all 300ms; */
}

.text-footer-details {
  margin: 0;
  padding: 0;
}


/* ================= BUTTONS ================= */
.btns-wrap {
  flex-direction: column;
  border: 4px solid #fff;
  width: 100%;
  padding: 1em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  background: var(--caption-bg);
  box-shadow: var(--main-shadow);
  border-radius: var(--main-bradius);
}

button {
  /* width: calc(50% - 0.5em); */
  width: 100%;
  padding: 1em 1.5em;
  /* margin-left: 1em; */
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: royalblue;
  border: 1px solid rgb(32, 79, 219);
  border-radius: 10em;
  box-shadow: var(--main-shadow);
  text-shadow: 2px 2px 0.5em rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:hover,
button:active {
  background: rgb(32, 79, 219);
  box-shadow: var(--main-shadow_hover);
}

/* .small-form-btn {
  background-color: #fff;
  background-image: linear-gradient(180deg, #eee, #ddd);
  border: 1px solid #ccc;
  padding: 2px 4px;
  width: auto;
  border-radius: 4px;
  color: var(--text-main);
  text-shadow: none;
  box-shadow: none;
  text-transform: capitalize;
} */

.reset-btn {
  background: tomato;
  border: 1px solid rgb(250, 83, 53);
}

.reset-btn:hover,
.reset-btn:active {
  background: rgb(250, 83, 53);
}

.results-close-btn {
  background: transparent;
  border: 1px solid #aaa;
  color: var(--text-main);
  width: auto;
  font-weight: 600;
  border-radius: 1em;
  text-shadow: none;
}

.results-close-btn:hover,
.results-close-btn:active {
  background: rgba(255, 124, 124, 0.2);
}

.checkbox-wrap {
  display: flex;
  align-items: center;
}

.input-container:focus-within {
  /* padding-top: 0.75em; */
  background: var(--accruals-details-bg);
}

.inp-details {
  margin: 0;
  padding: 0 1em;
  font-size: 14px;
  /* font-family: 'Roboto Condensed'; */
  /* text-align: justify; */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  /* transition: all 300ms; */
  border-left: 4px solid var(--accruals-field-border);
}

.inp-details.active {
  margin-block: 0.5em;
  padding-bottom: 1em;
  /* max-height: inpDetails.style.maxHeight = `calc(1em + ${inpDetails.scrollHeight}px)` */
  opacity: 1;
}

.inp-details hr,
.footer-details hr {
  border: none;
  border-top: 2px dashed rgba(0, 0, 0, 0.15);
}

/* 
.inp-details .code-details {
  overflow: hidden;
  margin-left: 2em;
}

.inp-details.active .code-details {
  margin-left: 0;
} */

.details-icon {
  margin-left: -3px;
}

.details-text {
  margin: 0;
  padding: 0;
}

.results-section {
  /* display: flex; */
  display: none;
  justify-content: space-between;
  align-items: center;
  /* transition: all 300ms; */
  position: absolute;
  min-height: 100vh;
  opacity: 0;
  /* overflow: hidden; */
  top: 100%;
  left: 0;
  right: 0;
  background: #f8f8f8;
}

.results-top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding-bottom: 1.75em;
  margin: 0.5em 0;
  /* margin-top: 1em; */
  border-bottom: 1px solid var(--main-border-color);
}


.results-section.active {
  display: flex;
  top: 0;
  opacity: 1;
}

mark {
  display: none;
}

p.accruals {
  color: inherit
}

p.deductions {
  color: darkred
}


/* MEDIA */


@media (max-width: 1260px) {

  .form,
  .results,
  .header {
    /* background: violet; */
    padding-inline: 1.5em;
  }

  .flex-container,
  .form-footer {
    gap: 1.5rem;
  }

}

@media (max-width: 1220px) {

  .form,
  .results,
  .header {
    /* background: gold; */
    padding-inline: 1em;
  }

  .flex-container,
  .form-footer {
    gap: 1rem;
  }
}

@media (max-width: 1200px) {

  .header span.start-visible {
    display: none;
  }


}

@media (max-width: 1152px) {

  .header span.start-visible {
    display: inline;
  }

  .form,
  .results,
  .header {
    /* background: rgb(0, 156, 55); */
    width: 100%;
    padding-inline: 20vw;
  }

  .results {
    padding-block: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .results-top-panel {
    margin-top: 0;
    justify-content: center;
    padding-top: 1.25em;
    border-bottom: none;
    border-top: 1px solid var(--main-border-color);
  }

  .results .logo-header {
    display: none
  }


  .results-close-btn {
    width: 100%;
    padding: 1em 1.5em;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10em;
    box-shadow: var(--main-shadow);
    text-shadow: 2px 2px 0.5em rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: tomato;
    border: 1px solid rgb(250, 83, 53);
  }

  .results-close-btn:hover,
  .results-close-btn:active {
    background: rgb(250, 83, 53);
  }


  .flex-container {
    display: block;
  }

  .input-container:focus-within {
    padding-top: 0.75em;
  }

  .flex-block {
    display: block;
    width: 100%;
  }

  .footer-details {
    display: none;
  }

  .btns-wrap {
    margin-bottom: 1.5em;
  }

}


@media (max-width: 800px) {

  .form,
  .results,
  .header {
    /* background: rgb(94, 242, 45); */
    padding-inline: 15vw;
  }

}

@media (max-width: 650px) {

  .form,
  .results,
  .header {
    /* background: rgb(177, 246, 201); */
    padding-inline: 10vw;
  }

}


@media (max-width: 550px) {

  .hidemobile {
    display: none;
  }

  .form,
  .results,
  .header {
    /* background: rgb(240, 251, 244); */
    padding-inline: 0.5em;
  }

}