/* ================= VARIABLES ================= */

:root {
  /* Base colors */
  --bg-main: #fff;
  --text-main: #111;
  --header-bg: linear-gradient(180deg, royalblue, dodgerblue, #fff);
  --caption-bg: #eee;
  --btn-ok: linear-gradient(180deg, deepskyblue, royalblue);
  --btn-reset: linear-gradient(180deg, tomato, indianred);

  /* General field */
  --general-field-bg: linear-gradient(135deg,
      rgba(255, 222, 92, 0.15),
      rgba(255, 191, 0, 0.3));
  --general-field-border: rgba(255, 191, 0, 0.5);
  --general-field-input: rgba(255, 191, 0, 0.7);
  --general-field-focus: rgba(255, 191, 0, 0.8);

  /* Green theme */
  --green-border: rgba(20, 200, 20, 0.3);
  --green-inner: rgba(20, 200, 20, 0.2);
  --green-bg: linear-gradient(135deg,
      rgba(20, 200, 20, 0.05),
      rgba(20, 200, 20, 0.15));
  --green-input: rgba(20, 200, 20, 0.4);
  --green-focus: rgba(20, 200, 20, 0.6);

  /* Blue theme */
  --blue-border: rgba(20, 20, 255, 0.3);
  --blue-inner: rgba(20, 20, 255, 0.2);
  --blue-bg: linear-gradient(135deg,
      rgba(20, 20, 255, 0.05),
      rgba(20, 20, 255, 0.15));
  --blue-input: rgba(20, 20, 255, 0.4);
  --blue-focus: rgba(20, 20, 255, 0.6);

  /* Red theme */
  --red-border: rgba(255, 40, 0, 0.3);
  --red-inner: rgba(255, 40, 0, 0.2);
  --red-bg: linear-gradient(135deg,
      rgba(255, 40, 0, 0.05),
      rgba(255, 40, 0, 0.15));
  --red-input: rgba(255, 40, 0, 0.4);
  --red-focus: rgba(255, 40, 0, 0.6);

  /* Effects */
  --main-bradius: 1rem;
  --main-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* ================= BASE ================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 200ms linear;
  font-family: 'Google Sans', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'GRAD' 0;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  background: var(--bg-main);
  color: var(--text-main);
}

p {
  font-size: 1em;
}

input::placeholder {
  color: #aaa;
}

/* ================= HEADER ================= */
.header {
  padding: 1em 0.75em 0;
  background: var(--header-bg);
}

.logo-header {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.75em 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-header h1 {
  margin: 0;
  margin-left: 0.25em;
  font-size: 1.5em;
  line-height: 1em;
}

.logo-header .logo {
  display: none;
  position: relative;
  top: -2px;
  height: 2.5em;
  width: auto;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.30));
}

.emoji-icon {
  font-size: 2em;
  line-height: 1;
}

/* ================= MAIN ================= */
.main {
  padding: 0 0.75em;
}

.caption-text {
  padding: 1em;
  background: var(--caption-bg);
  border: 0.25em solid #fff;
  border-radius: var(--main-bradius);
  box-shadow: var(--main-shadow);
  margin-bottom: 1.5em;
}

/* ================= FORM ================= */
.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

label {
  text-align: left;
  line-height: 1;
}

label:hover {
  font-variation-settings: 'GRAD' 200;
  cursor: pointer;
}

/* ================= INPUTS ================= */
input[type='text'] {
  width: 5.5em;
  margin-left: 0.5em;
  text-align: center;
  line-height: 1.75;
  font-family: 'Rubik', sans-serif;
  border: 1px solid var(--green-input);
  border-radius: 6px;
}

input[type='checkbox'] {
  margin: 0.5em 1em;
}

input.large {
  width: 5.5em;
}

input[type='checkbox'] {
  margin-left: 1em;
}

.double-inputs input[type='text']:last-child {
  margin-left: 0;
}

.double-inputs span {
  margin: 0.25em;
}

/* ================= FIELDSETS ================= */
fieldset {
  margin: 1.25em 0;
  padding: 1em;
  padding-bottom: 0.75em;
  border: 1px solid var(--green-border);
  border-radius: var(--main-bradius);
  background: var(--green-bg);
  box-shadow: var(--main-shadow);
}


.info-content {
  margin: 1.25em 0;
  padding: 1em;
  border: 1px solid #888;
  border-radius: var(--main-bradius);
  background: #fff;
  box-shadow: var(--main-shadow);
}

.info-content h2 {
  line-height: 1;
  margin: 0.75em 0;
}

.info-content p {
  line-height: 1.5;
  margin: 0;
  padding: 0.25em 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted #ccc;
}

.info-content p:last-child {
  border: none;
}

legend {
  padding: 0.75em 1em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--bg-main);
  border: 1px solid var(--green-border);
  border-radius: var(--main-bradius);
  box-shadow: var(--main-shadow);
}

.general-field {
  background: var(--general-field-bg);
  border-color: var(--general-field-border);
}

.general-field legend {
  border-color: var(--general-field-border);
}

.general-field input[type='text'] {
  border-color: var(--general-field-input);
}

.inputs-group:not(:last-child) {
  margin-bottom: 0.75em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid var(--green-inner);
}

/* ================= TAB FIELD (BLUE) ================= */
.tab-field {
  border-color: var(--blue-border);
  background: var(--blue-bg);
}

.tab-field legend {
  border-color: var(--blue-border);
}

.tab-field input[type='text'] {
  border-color: var(--blue-input);
}

.tab-field .inputs-group {
  border-color: var(--blue-inner);
}

/* ================= RED FIELD ================= */
.red-bg {
  border-color: var(--red-border);
  background: var(--red-bg);
}

.red-bg legend {
  border-color: var(--red-border);
}

.red-bg input[type='text'] {
  border-color: var(--red-input);
}

.red-bg .inputs-group {
  border-color: var(--red-inner);
}

/* ================= ADVANCED ================= */
.input-wrapper:focus-within label {
  font-variation-settings: 'GRAD' 200;
}

input[type='text']:focus-visible {
  outline: none;
  border-color: var(--green-focus);
  box-shadow: 0 0 0 4px rgba(20, 200, 20, 0.15);
}

.general-field input[type='text']:focus-visible {
  border-color: var(--general-field-focus);
  box-shadow: 0 0 0 4px rgba(255, 191, 0, 0.25);
}

.tab-field input[type='text']:focus-visible {
  border-color: var(--blue-focus);
  box-shadow: 0 0 0 4px rgba(20, 20, 255, 0.15);
}

.red-bg input[type='text']:focus-visible {
  border-color: var(--red-focus);
  box-shadow: 0 0 0 4px rgba(255, 40, 0, 0.15);
}

/* ================= BUTTONS ================= */
.btns-wrapper {
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
}

button {
  width: calc(50% - 0.5em);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(83, 126, 253);
  border: 1px solid royalblue;
  border-radius: 100em;
  box-shadow: var(--main-shadow);
}

button:hover,
button:active {
  background: royalblue;
  letter-spacing: 1px;
}

.reset-btn {
  background: tomato;
  border: 1px solid rgb(250, 83, 53);
}

.reset-btn:hover,
.reset-btn:active {
  background: rgb(250, 83, 53);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
  font-family: system-ui, sans-serif;
  font-size: 14px;
}

/* header */
thead {
  background: #f5f7fa;
}

th {
  text-align: left;
  padding: 12px 16px;
  font-weight: 600;
  color: #333;
  border-bottom: 1px solid #e5e7eb;
}

/* cells */
td {
  padding: 12px 16px;
  border-bottom: 1px solid #f0f0f0;
}

/* прибираємо нижній бордер в останньому рядку */
tbody tr:last-child td {
  border-bottom: none;
}

/* зебра */
tbody tr:nth-child(even) {
  background: #fafafa;
}

/* hover */
tbody tr:hover {
  background: #f3f6ff;
  transition: background 0.15s ease;
}